<a href="https://colab.research.google.com/github/minovsor/intro_python/blob/main/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introdução rápida de Python
Autor: Mino Sorribas (07/fev/2022)

> Conteúdo:
*   Calculadora
*   Variáveis
*   Noção básica de classes e métodos
*   Módulos (Bibliotecas)
*   Listas
*   Controles de fluxo: if/else, while/break, for/range/continue, enumerate
*   Definindo funções
*   Estruturas de dados (listas, tuplas, conjuntos, dicionários, np.array)
*   Leitura e processamento de arquivo texto

>>

### Lembretes
1.   Células contém código-fonte (ipython) ou texto (Markdown)
2.   "Enter" pula linha no editor, "Shift-Enter" executa conteúdo da célula
3.   Identação de 4 espaços (ou 2 espaços)
4.   Utilizar # para comentários em python

In [32]:
# Imprimindo na tela (Colab/notebooks)

'Hello World'

In [80]:
# Imprimindo na tela (python): print()

In [34]:
# Python como uma calculadora
# soma (+)
# subtração (-)
# multiplicação (*)
# divisão (/)
# resto (%)
# divisão arredonda para inteiro (//)

# Exemplos com 10 e 3

In [35]:
# Definindo variáveis (números e caracteres)
# ... sempre iniciar com letra

# recomendações:
# - letras minusculas com separador '_'
# - não utilizar CamelCase (reservado para classes)
# exemplo:
# vazao_media, ao invés de VazaoMedia

In [36]:
# Imprimindo as variáveis na tela

1 1.2 MatLab Fortran

In [81]:
# Verificando tipos de dados: type()

In [39]:
# Noção básica de classes e métodos
# Uma classe associa dados (atributos) e operações num único objeto!
# Tipicamente utilizamos .método para realizar as operações
# Por exemplo,
# media = dados.mean()

# Em muitos ambientes é possível consultar diretamente (Intelisense)
#c.

In [40]:
# Mostrando os métodos na tela
#dir(c)

In [41]:
# Exemplos
#c.lower()
#c.upper()
#c.capitalize()

In [38]:
# Listas de dados: list(), []

In [42]:
# Teste os métodos  .pop e .append para uma variável lista
mercado = ['ovos', 'farinha', 'chocolate', 'leite condensado']

In [43]:
# Acessando os dados da lista
numeros = [10,20,30,40]

In [44]:
# Operadores + e * em listas
# quais os resultados para as operações abaixo?
# numeros*2
# numeros + [40,30,20,10]
# numeros + [50]
# numeros + 10

In [45]:
# Importando bibliotecas
import math
import numpy

In [46]:
# Importando partes e utilizando "alias" (apelidos)
from math import sqrt
#from numpy import *
#import numpy as np
#from matplotlib.pyplot import plt

In [47]:
# Help!
help(sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [48]:
# Criando uma lista/vetor de 1..N


# com numpy: np.arange, np.linspace

In [49]:
# Controles de fluxo
# if/then/else/elif

In [50]:
# loop condicional: while

In [79]:
# loop iterativo: for/range

In [52]:
# Definindo funções: def()

In [53]:
# Estruturas de dados:
# listas : list(),[]
# tuplas:  tuple(), ()
# conjuntos: set(), {}
# dicionários: dict(), {key:value}
# arranjos: np.array()

In [72]:
# Dicionários

In [ ]:
# Array/Numpy

In [57]:
# Upload de um arquivo
from google.colab import files
uploaded = files.upload()

Saving teste.txt to teste.txt

In [61]:
# Ler arquivo no sistema
with open('teste.txt') as f:
  dados_lidos = f.readlines()

  dados = []
  for i in dados_lidos:
      dd,mm,aaaa,valor = i.split()
      dados.append( [int(dd),int(mm),int(aaaa),float(valor)])

In [60]:
dados_lidos

['1 1 2022 100.\n',
 '2 1 2022 200.\n',
 '3 1 2022 400.\n',
 '4 1 2022 500.\n',
 '5 1 2022 100.']

In [62]:
dados

[[1, 1, 2022, 100.0],
 [2, 1, 2022, 200.0],
 [3, 1, 2022, 400.0],
 [4, 1, 2022, 500.0],
 [5, 1, 2022, 100.0]]

In [67]:
# Utilizando datas
import datetime
d = datetime.datetime(2022,1,1)

In [ ]:
# Explorar métodos do objeto d

In [71]:
from datetime import datetime

#converte datetime em texto
t = datetime.strftime(d,'%Y/%m/%d')
t

# converte texto em datetime
dd = datetime.strptime(t,'%Y%/m/%d')

'2022/01/01'

In [ ]:
#Criando uma lista de datas a partir dos dados lidos
datas = []
for item in dados:
    if item==0:
      continue
    dia = item[0]
    mes = item[1]
    ano = item[2]
    valor = item[3]
    #dia,mes,ano,valor = i
    data = datetime.datetime(ano,mes,dia)
    lista_datas.append(data)

In [64]:
lista_datas

[datetime.datetime(2022, 1, 1, 0, 0),
 datetime.datetime(2022, 1, 2, 0, 0),
 datetime.datetime(2022, 1, 3, 0, 0),
 datetime.datetime(2022, 1, 4, 0, 0),
 datetime.datetime(2022, 1, 5, 0, 0)]

In [77]:
# pandas para o resgate.
import pandas as pd

#df = pd.read_excel('nome_arquivo.xls')
#df = pd.read_csv('nome_arquivo.csv')

df = pd.read_csv('teste.txt',sep=' ',)

   1  1.1  2022   100.
0  2    1  2022  200.0
1  3    1  2022  400.0
2  4    1  2022  500.0
3  5    1  2022  100.0